html, body {
    background-color: #36393f;
    color: #fff;
    margin: 0;
    width: 100%;
}

.nav-tabs {
    border-bottom: 1px solid #26272b;
}

.nav-link {
    padding: .2rem 1rem;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #67686c;
    border-color: #26272b;
    color: #fff;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: #26272b;
    cursor: pointer;
}

.twitter-typeahead {
    width: 100%;
}

.typeahead, .tt-query, .tt-hint {
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: 2px solid #CCCCCC;
    border-radius: 0.25rem;
    outline: medium none;
    padding: 8px 12px;
    margin: 10px 0 0 0;
}

.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.tt-menu {
    background: rgb(54, 55, 61) none repeat scroll 0 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 12px;
    padding: 8px 0;
    width: 100%;
    overflow-y: auto;
    max-height: 250px;
}

.tt-suggestion {
    font-size: 22px;  /* Set suggestion dropdown font size */
    padding: 3px 20px;
}

.tt-suggestion:hover {
    cursor: pointer;
    opacity: 0.5;
    color: #fff;
}

.tt-suggestion p {
    margin: 0;
}

.tt-cursor {
    background-color: #641e64;
}

.custom-select-no-validation {
    color: #67686c;
    background: #3c3d44 url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
    border: 1px solid #26272b;
    display: inline-block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    vertical-align: middle;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 10px 0 0 0;
    white-space: nowrap !important;
    word-wrap: normal !important;
    text-align: start;
    cursor: default;
    box-sizing: border-box;
    -moz-user-select: none;
    text-indent: 0;
    text-shadow: none;
    page-break-inside: avoid;
}

.modal-content {
    background-color: #36373d;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #484848;
}

::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
}

.progress-bar {
    -o-transition: width 1s;
    -moz-transition: width 1s;
    -webkit-transition: width 1s;
    transition: width 1s;

    -o-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

.table {
    color: #fff;
}

.color-primary {
    color: #fff;
}

.color-secondary {
    color: #67686c;
}

.scrollspy {
    overflow-y: scroll;
    position: relative;
}

.form-dark input {
    color: #fff;
    border: 1px solid #26272b;
    background-color: #36373d;
}

.form-dark input:disabled {
    background-color: #26272b;
}

.form-dark input:disabled::placeholder {
    color: #4c5358;
}

.form-dark input[type='checkbox']:disabled {
    display: none;
}

.form-dark input:focus {
    background-color: #36373d;
}

.form-dark input:focus {
    color: #fff;
}

.form-dark textarea {
    color: #fff;
    border: 1px solid #26272b;
    background-color: #36373d;
}

.form-dark textarea:disabled {
    background-color: #26272b;
}

.form-dark textarea:disabled::placeholder {
    color: #4c5358;
}

.form-dark textarea:focus {
    background-color: #36373d;
}

.form-dark textarea:focus {
    color: #fff;
}

.multi-color-textarea {
    text-align: start;
    height: 150px;
    overflow-y: auto;
    word-wrap: break-word;
}

.form-dark .multi-color-textarea {
    color: #fff;
    border: 1px solid #26272b;
    background-color: #36373d;
}

.form-dark .multi-color-textarea:disabled {
    background-color: #26272b;
}

.form-dark .multi-color-textarea:disabled::placeholder {
    color: #4c5358;
}

.form-dark .multi-color-textarea:focus {
    background-color: #36373d;
    color: #fff;
}

.multi-color-textarea .form-control .is-valid {
    padding-right: calc(1.5em + .75rem);
    background-position: top calc(.375em + .1875rem) right calc(.375em + .1875rem);
}

.form-dark label {
    color: #67686c;
}

.form-dark .input-group-text {
    color: #fff;
    border: 1px solid #26272b;
    background: #36373d;
}

.form-dark .btn {
    color: #fff;
    border: 1px solid #26272b;
    background-color: #3c3d44;
}

.form-dark .btn:hover {
    color: #fff;
    background-color: #36373d;
}

.custom-select.is-valid, .was-validated .custom-select:valid, .was-validated div .custom-select:valid {
    color: #67686c;
    background-color: #3c3d44;
}

.full-width {
    width: 100% !important;
}

.pull-left {
    float: left !important;
}

.box-dark {
    color: #67686c;
    border: 2px solid #26272b;
    background-color: #36373d
}

.form-group-small {
    margin-bottom: 0.5rem;
}

.editor-section {
    text-align: center;
}

.table-body > tr:hover {
    opacity: 0.5;
    cursor: pointer;
}

.table-body > .active {
    background-color: #641e64;
}

.flex-outer {
    list-style-type: none;
    padding: 0;
}

.flex-outer {
    margin: 0 auto;
}

.flex-outer > li {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    text-align: right;
}

.flex-outer > li:not(:last-child) {
    margin-bottom: 5px;
}

.flex-outer > li > label,
.flex-outer > li > p {
    margin: 0;
    flex: 0 0 25%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 5px;
}

.flex-outer > li > div {
    width: 100%;
}

.flex-outer > li > p {
    margin: 0;
}

.flex-outer > li > input:not([type='checkbox']),
.flex-outer > li > textarea {
    padding: 15px;
}

.form-control.is-valid, .was-validated .form-control:valid {
    border: 1px solid #26272b;
}

.custom-select.is-valid, .was-validated .custom-select:valid {
    border: 1px solid #26272b;
}

.multi-check {
    display: flex;
    flex-wrap: nowrap;
    /* justify-content: center; */
    width: 100%;
}

.multi-check > ul:not(:last-child) {
    padding-right: 15px;
}

.multi-check > ul {
    display: inline-block;
    list-style-type: none;
    padding: 0;
}

.multi-check label {
    padding-right: 5px;
    margin: 0;
}

.div-btn {
    white-space: nowrap;
    cursor: pointer;
}